body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: #e6f8fc;
}
header {
    color: #1a0500;
    text-align: center;
}

.horiz-center {
    display: grid;
    justify-content: center;
}

.smith-rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2em;
}

.smith-box {
    background-color: #e5c796;
    border: solid black;
    border-radius: 2em;
    padding: 1em;
}

.button {
    background-color: #18dfe2;
    border: none;
    color: black;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}
